@import "../../_globalColor";

.card-image {
  max-width: 100%;
  height: auto;
  width: 250px;
}
.card-title {
  color: $titleColor;
  font-size: 22px;
  line-height: 24px;
  font-weight: 700;
  margin: 15px 0 0 0;
}
.card-subtitle {
  color: $cardSubtitle;
  font-size: 17px;
  line-height: 1.5rem;
}
.project-card {
  display: flex;
  flex-direction: column;
  background-color: $lightBackground2;
  padding: 1.5rem;
  border-radius: 10px;
  border: 1px solid $lightBorder1;
  justify-content: center;
}
.project-card-light {
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.project-card-dark {
  box-shadow: 0px 10px 30px -15px $darkBoxShadow;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.25s ease;
}

.project-detail {
  text-align: center;
}
.project-card-light:hover {
  box-shadow: $lightBoxShadowDark 0px 20px 30px -10px;
}
.project-card-dark:hover {
  box-shadow: 0px 20px 30px -10px $darkBoxShadow;
}
.project-image {
  position: relative;
  height: 250px;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.projects-container {
  // display: grid;
  // grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  flex-direction: column;
  gap: 1rem 1rem;
}

.project-card-footer span.project-tag {
  background: $buttonColor;
  color: $lightBackground3;
  vertical-align: middle;
  align-items: center;
  border-radius: 4px;
  display: inline-flex;
  font-size: 0.75rem;
  height: 2em;
  justify-content: center;
  white-space: nowrap;
  line-height: 1.5;
  margin: 0 0.5rem 0.5rem 0;
  padding: 0 0.75em;
  cursor: pointer;
  transition: 0.2s ease-in;
}

.collapsible-container {
  border: 1px solid $lightBorder1;
  border-radius: 10px;
  margin-bottom: 1rem;
  overflow: hidden;
  background-color: $lightBackground2;
  box-shadow: $lightBoxShadowDark 0px 10px 30px -15px;
}

.collapsible-header {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  background-color: $lightBackground2;
  transition: all 0.3s ease;
  border: 1px solid $lightBorder1;
  border-radius: 10px;
}

.collapsible-header h5 {
  margin: 0; /* Fixes alignment issues caused by default margins */
  line-height: normal; /* Avoids excessive spacing */
  display: flex; /* Enables flexbox alignment */
  align-items: center; /* Vertically centers text */
  height: 100%; /* Matches the header height */
}

.collapsible-header:hover {
  background-color: $lightBackground3;
}

.collapsible-icon {
  font-size: 1.5rem;
  font-weight: bold;
  color: $titleColor;
}

.collapsible-content {
  padding: 1rem;
  background-color: $lightBackground1;
}

.project-bullet-list {
  list-style-type: disc;
  margin-left: 20px;
  margin-top: 10px;
  color: $cardSubtitle;
}

.skills-section {
  margin-top: 15px;
}

.skills-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
  color: $titleColor;
}

.skills-list {
  list-style-type: none; /* Remove bullet points */
  // padding: 0;
  margin-left: 20px;
  display: flex; /* Use flexbox to align items horizontally */
  flex-wrap: wrap; /* Allow items to wrap to the next line if needed */
  gap: 0.5rem; /* Add space between skills */
}

.skill-item {
  color: $cardSubtitle;
  background: $lightBackground3; /* Optional: Add a background color */
  padding: 0.25rem 0.5rem; /* Optional: Add padding for spacing */
  border-radius: 5px; /* Optional: Rounded corners for skills */
}

@media (max-width: 768px) {
  .project-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .collapsible-header {
    padding: 0.75rem;
  }

  .collapsible-icon {
    font-size: 1.25rem;
  }

  .card-title {
    font-size: 20px;
  }

  .card-subtitle {
    font-size: 16px;
  }
}
